.hidden{
  opacity:0 ;
  filter: blur(15px);
  transition: all 2s;
  transform: translateX(-100%);
  }
  
  .show{
  opacity: 1;
  filter: blur(0);
  transition: all 2s;
  transform: translateX(0);
  }

  
  .logo{
    display: flex;
    gap: 20px;
    }
         
    .logo :nth-child(2){
      transition-delay: 400ms;
      }
        
      .logo :nth-child(3){
        transition-delay: 700ms;
        }
      
        .logo :nth-child(4){
          transition-delay: 1000ms;
          }

          .logo :nth-child(5){
            transition-delay: 1300ms;
            }

            .logo :nth-child(6){
              transition-delay: 1600ms;
              }
      
          
    