.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  
 
}

.borderr
{
display: flex;
justify-content: center;
align-items: center;

}
.elemento {
  position: relative; /* Para que o ::after seja posicionado corretamente */
  width: 50em;
  padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
}

.elemento::after {
  content: ''; /* Necessário para criar o pseudo-elemento */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px; /* Espessura da "borda" */
  background: linear-gradient(to right, #b22222, #ff4500); /* Gradiente da borda */
}


.titulo_header{
  background: var(--vermelho);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(--fonte-cabeçalho);
  align-items: center;
 
}

.lista_header{
  display: flex;
  list-style: none;
 
}
  

.nav-item{
  color: var(--branco);
  font-family: var(--fonte-cabeçalho);
  font-size: 1.3em;
  margin: 0.4em 0 0 3.5em;
  

}

.nav-link{
  text-decoration: none;
  color: var(--branco);
 
}

.nav-link {
  position: relative;
  display: inline-block;
  color: white; /* Cor inicial do link */
  text-decoration: none;
  transition: color 0.6s ease-in-out; /* Transição suave para a cor do link */
  background: none; /* Mantém o fundo inicial sem gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: currentColor; /* Permite a cor inicial funcionar */
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--vermelho); /* Cor da linha vermelha */
  transition: width 0.4s ease; /* Animação suave da linha */
}

.nav-link:hover {
  color: transparent; /* Para aplicar o gradiente no texto */
  background: var(--vermelho) ;/* Gradiente no texto */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Preenchimento transparente para exibir o gradiente */
}

.link_header:hover::after {
  width: 100%; /* Expande a linha no hover */
}



@media screen and (max-width: 1728px) {

  .header{
    background: black
  }
  .elemento {

    width: 40em;
    padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
  }

.titulo_header{
  font-size: 1.8em;
  
}

.nav-item{
  font-size: 1.3em;
}

}

@media screen and (max-width: 1440px) {
  .header{
    background: black
  }


.titulo_header{
  font-size: 1.3em;
  
}

.elemento {

  width: 30em;
  padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
}

.nav-item{
  font-size: 0.9em;
  margin: 0.4em 0 0 1em;
}


}


@media screen and (max-width: 1024px) {

  .header{
    background: black
  }

  .elemento {

    width: 15em;
    padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
  }

.titulo_header{
  font-size: 1.3em;
  
}

.nav-item{
  font-size: 0.9em;
  margin: 0.4em 0 0 1em;
}
}

@media screen and (max-width: 768px) {
  
  .elemento {

    width: 10em;
    padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
  }

.titulo_header{
  font-size: 1.1em;
  
}

.nav-item{
  font-size: 0.8em;
}
}

@media screen and (max-width: 576px) {
  .titulo_header{
    display: none;
  }

  .header{
   justify-content: center;
   align-items: center;
  }

  .nav-item{
   
    margin: 0.4em 1.5em 0 1.5em;
  }

  .elemento {

    width: 10em;
    padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
  }

}


@media screen and (max-width: 430px) {
  .titulo_header{
    display: none;
  }

  .header{
   justify-content: center;
   align-items: center;
  }

}


  @media screen and (max-width: 390px) {
    .titulo_header{
      display: none;
    }
  
    .header{
     justify-content: center;
     align-items: center;
    }

}

@media screen and (max-width: 375px) {
  .titulo_header{
    display: none;
  }

  .header{
   justify-content: center;
   align-items: center;
  }

  .nav-item{
    font-size: 0.7em;
    margin: 0.4em 1em 0 1em;
  }

  .elemento {

    width: 5em;
    padding-bottom: 10px; /* Para adicionar espaço entre o conteúdo e a linha */
  }

}

